<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <p>post</p>
  <form class="" action="/post" method="post">
    title <input type="text" name="name" value=""><br/>
    content <input type="text" name="content" value=""><br/>
    <input type="submit" >
  </form>
  <p>get</p>
  <form action="/get" method="get">
    title <input type="text" name="name" value=""><br/>
    content <input type="text" name="content" value=""><br/>
    <input type="submit" >
  </form>
</body>
</html>
